* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.dark {
  --text-color: #ffffff;
  --bg-url: url(./../../assets/bg-dark-mobile.jpg);
  --stroke-color: rgba(225, 225, 225, 0.5);
  --border-color: rgba(225, 225, 225, 0.1);
  --border-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./../../assets/MoonStars.svg);
}

.light {
  --text-color: #000000;
  --bg-url: url(./../../assets/bg-mobile-clear.jpeg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --border-color: rgba(0, 0, 0, 0.1);
  --border-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./../../assets/Sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto 0px;
  padding: 56px 24px -5px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: left 0.3s ease-in-out; 
}

.light #switch button {
  right: 0;
  left: initial;
  background-image: var(--switch-bg-url);
  left: 32px; 
}

#switch button.active {
  left: 0; 
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--border-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--border-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--border-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Social Links */

#social-links {
  display: flex;
  
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--hightlight-color);
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 24px 0;
}

@media (min-width: 700px) {
  .dark {
    --bg-url: url(./../../assets/bg-dark.jpg);
  }

  .light {
    --bg-url: url(./../../assets/bg-clear.jpeg);
  }
}