<header [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <nav id="header-home" class="navbar name-router navbar-expand-lg ">
    <div class="container-fluid d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-lg-none">
        <!-- Exibir no computador -->
        <div id="social-links">
          <a href="https://www.linkedin.com/in/john-mota-026044203/" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/John-Mota" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://instagram.com/john.mota?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
      <a class="navbar-brand" href="#">Inicial</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projetos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/calculator">Calculadora</a>
              <a class="dropdown-item" routerLink="/jogo-da-velha">Jogo da Velha</a>
              <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
              <a class="dropdown-item" routerLink="/tarefas/lista">Gerenciador de Tarefas</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="w-100 text-center d-none d-lg-block">
        <!-- Exibir no computador -->
        <h1 style="font-size: 40px;" class="navbar-brand">Portifólio John Mota</h1>
      </div>

      <div class="d-none d-lg-block">
        <!-- Exibir no computador -->
        <div id="social-links">
          <a href="https://www.linkedin.com/in/john-mota-026044203/" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/John-Mota" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://instagram.com/john.mota?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
