.dark {
  --theme-bg: #141313
  --text-color: #ffffff;
  --highlighted-text: #007ACC;
  --text-highlighted: #FFA500;
  --theme-card: #262424;
}

.light {
  --theme-bg: #FFFFFF;
  --text-color: #333333;
  --highlighted-text: #FFA500;
  --text-highlighted: #007ACC;
  --theme-card: #DDD;
}


.navbar-toggler {
  background-color: var(--text-highlighted);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  outline: none;
  box-shadow: none;
}

.toggle-menu {
  background-color: var(--theme-card);
  border: 1px solid var(--text-color);
  color: var(--text-color)
}

#header-home {
  position: fixed;
  height: 60px;
  background: var(--theme-card);
  width: 100%;
  z-index: 1000;
}

.name-router {
  color: var(--text-highlighted);
}

.name-router a {
  color: var(--text-highlighted);
}

.dropdown-menu {
  background: var(--theme-card);
  text-align: center;
}
