.dark {
  --theme-bg: linear-gradient(to bottom, #141313, #1f1e1e);
  --text-color: #ffffff;
  --highlighted-text: #007ACC;
  --text-highlighted: #FFA500;
  --theme-card: linear-gradient(to bottom, #262424, #2d2b2b);
}

.light {
  --theme-bg: #FFFFFF;
  --text-color: #333333;
  --highlighted-text: #FFA500;
  --text-highlighted: #007ACC;
  --theme-card: #DDD;
}


.navbar-toggler {
  background-color: var(--text-highlighted);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

#header-home {
  position: fixed;
  height: 50px;
  background: var(--theme-card);
  width: 100%;
  z-index: 1000;
}

.navbar-expand-lg a {
  color: var(--text-highlighted);
}

.dropdown-menu {
  background: var(--theme-card);
  text-align: center;
}
