<header [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <nav class="navbar fixed-top " id="header-home" aria-expanded="false">
    <div class="container-fluid">
      
      
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="name-router" href="">
          <h1 style="font-size: 30px;" class="navbar-brand ">Portifólio John Mota</h1>
        </a>     
      <div>
        <div id="social-links">
          <a href="https://www.linkedin.com/in/john-mota-026044203/" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/John-Mota" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://instagram.com/john.mota?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
      <div 
        class="offcanvas offcanvas-start toggle-menu w-35" 
        tabindex="-1" id="offcanvasDarkNavbar" 
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 
            style="color: var(--text-highlighted);" 
            class="offcanvas-title name-router" id="offcanvasDarkNavbarLabel">Projetos</h5>
          <button 
            type="button" 
            class="btn-close new-btn" 
            data-bs-dismiss="offcanvas" 
            aria-label="Close"></button>
        </div>
        <hr style="color: var(--text-highlighted);">
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item name-router">
              <h4><a class="nav-link active" aria-current="page" href="">Página ínicial</a></h4>
              <!-- <a class="nav-link active" aria-current="page" routerLink="">Página ínicial</a> -->
            </li>
            <li class="nav-item name-router">
              <a class="nav-link active" aria-current="page" routerLink="/calculator">Calculadora</a>
            </li>
            <li class="nav-item name-router">
              <a class="nav-link active" aria-current="page" routerLink="/jogo-da-velha">Jogo da velha</a>
            </li>
            <li class="nav-item name-router">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item name-router">
              <a class="nav-link active" aria-current="page" routerLink="/tarefas/lista">Gerenciador de Tarefas</a>
            </li>
            <li class="nav-item name-router">
              <a 
                class="nav-link active" 
                aria-current="page" 
                href="https://mota-movies.netlify.app" 
                target="_blank">Projeto com Api de Filmes</a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>
</header>
