<header [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <div id="header-home">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 ">
            <li class="nav-item">
              <a class="nav-link active" id="home_nav_link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="home_nav_link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul [ngClass]="isDarkTheme ? 'dark' : 'light'" class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Gerar CEP</a></li>
                <li><a class="dropdown-item" href="#">API de Filmes</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<body [ngClass]="isDarkTheme ? 'dark' : 'light'">
  <div class="container card presentation">
      <div class="">
        <h5 class="card-title">Desenvolvedor Web em Ascensão</h5>
        <p class="card-text">
          Sou um programador entusiasta em constante evolução. Cada linha de
           código é uma oportunidade para aprender e crescer.
          Estou aberto a projetos emocionantes e oportunidades de aprendizado
          para expandir meu conhecimento e contribuir para
          soluções inovadoras.
        </p>
       <h5>Minhas Habilidades</h5>
        <p class="card-text">
          <li>Angular, HTML, CSS: Domino o básico e estou sempre ansioso para
             aprender mais. Adoro criar interfaces interativas e
          elegantes.</li>
          <li>
            Node.js: Estou começando a explorar o mundo do backend com Node.js
             e adorando cada desafio.
          </li>
          <li>
            Nest.js: Tenho conhecimento inicial em Nest.js e estou animado para
             aprofundar meu entendimento nessa estrutura.
          </li>
          <li>
            Cypress: Comecei a explorar testes automatizados com Cypress e estou
             pronto para aprimorar minhas habilidades nessa área
            emocionante.
          </li>
        </p>
      </div>
    </div>
</body>
