* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  #home_nav_link {
    color: #ffffff;

  }
  .navbar-expand-lg {
    height: 50px;
    background-image: url(./../../assets/bg-dark.jpg);
    width: 100%;
  }
  --theme-bg: linear-gradient(to bottom, #141313, #1f1e1e);
  --text-color: #ffffff;
}

.light {
  .navbar-expand-lg {
    height: 50px;
    background-image: url(./../../assets/bg-clear.jpg);

  }
    --theme-bg: linear-gradient(to bottom, #f0f0f0, #ffffff);
    --text-color: #000000;
}

body {
  background: var(--theme-bg);
  height: 100vh;
  padding-top: 20px;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.presentation {
  width: auto;
  margin: 0px auto 0 auto;
  padding-top: 20px;
  text-align: center;
  background: var(--theme-bg);
}

