* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.dark {
  --text-color: #3b2727;
  --bg-url: url(./../../assets/bg-dark-mobile.jpg);
  --stroke-color: rgba(225, 225, 225, 0.5);
  --border-color: rgba(225, 225, 225, 0.1);
  --border-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./../../assets/MoonStars.svg);
}

.light {
  --text-color: #000000;
  --bg-url: url(./../../assets/bg-mobile-clear.jpeg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --border-color: rgba(0, 0, 0, 0.1);
  --border-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./../../assets/Sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

