* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-expand-lg {
  height: 50px;
  background: var(--theme-card);
  width: 100%;
}

.dark {
  #home_nav_link {
    color: var(--text-highlighted);
  }


  --theme-bg: linear-gradient(to bottom, #141313, #1f1e1e);
  --text-color: #ffffff;
  --highlighted-text:  #007ACC;
  --text-highlighted: #FFA500;
  --theme-card: linear-gradient(to bottom, #262424, #2d2b2b);
}

.light {
  #home_nav_link {
    color: var(--text-highlighted);
  }
  --theme-bg: #FFFFFF;
  --text-color: #333333;
  --highlighted-text: #FFA500;
  --text-highlighted: #007ACC;
  --theme-card: #DDD;
}

body {
  background: var(--theme-bg);
  height: 100vh;
  padding-top: 20px;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.presentation {
  width: auto;
  margin: 0px auto 0 auto;
  padding-top: 20px;
  text-align: center;
  background: var(--theme-card);
}
.presentation h5 {
  color: var(--text-highlighted);
}
.presentation p {
  color: var(--text-color);
}

